<div class="container">
    <form action="/events/{{this.id}}?_method=put" method="POST" class="create_new_event">
        <div class="form-group">
            <input type="text" value="{{title}}" class="form-control" name="title">
            <input type="text" value="{{image}}" name="image" class="form-control">
            <input type="text" value="{{date}}" name="date" class="form-control">
            <input type="text" value="{{time}}" name="time" class="form-control">
            <input type="text" value="{{location}}" name="location" class="form-control">
            <input type="text" value="{{description}}" name="description" class="form-control">
            <input type="submit" value="Update" class="AddNewEvent">
        </div>
    </form>
</div>