

<div class="eventsContainer">
{{#each events}}
<div class="event">
    <h3>{{title}}</h3>
    <div class="whenContainer">
        <p>Date: {{date}}</p>
        <p>Time: {{time}}</p>
        <p>Location: {{location}}</p>
    </div>
    <p>{{description}}</p>
    <div class="clickables">
        <form action="/events/{{this.id}}?_method=delete" method="POST">
            <input type="submit" value="Remove Event">
        </form>
        <a href="/events/edit/{{id}}">Edit Event Details</a>
    </div>
</div>
{{/each}} 
</div>