
<div class="index_body">
<div class="eventsContainer">
{{#each events}}
<div class="event">
    <img src="{{image}}" alt="{{title}}">
    <h3>{{title}}</h3>
    <div class="whenContainer">
        <p><span class="when">Date:</span> {{date}}</p>
        <p><span class="when">Time:</span> {{time}}</p>
        <p><span class="when">Location:</span> {{location}}</p>
    </div>
    <p>{{description}}</p>
    <div class="clickables">
        <form action="/events/{{this.id}}?_method=delete" method="POST">
            <input type="submit" value="Remove Event">
        </form>
        <a href="/events/edit/{{id}}">Edit Event Details</a>
    </div>
</div>
{{/each}} 
</div>
</div>

